.rooms{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75rem;
    position: relative;
    &__page{
        font-family: "Archivo";
        font-weight: 700;
        font-size: 0.87rem;
        line-height: 1rem;
        letter-spacing: 0.17rem;
        color: #777777
    }
    &__title{
        font-family: "Old Standar TT";
        font-weight: 400;
        font-size: 3.5rem;
        line-height: 3.75rem;
        letter-spacing: -0.075rem;
        text-align: center;
        padding-bottom: 4rem;
        padding-top: 1rem;
    }
    &__slider{
        position:relative;
        &__boxLogo{
            display: flex;
            align-items: center;
            background-color: $whiteF;
            max-width: 16rem;
            padding-left: 6%;
            padding-right: 37%;
            padding-top: 3%;
            padding-bottom: 3%;
            position: absolute;
            top: -8%;
            left: 14%;
            z-index: 1 ;
            &__logo{
                margin-left: 0.5rem;
                margin-right: 0.5rem;
            }
    &__img{
        padding-right: 1rem;
    }
        }
        &__image{
            width: 100%;
            height: 15.25rem;
        }
        .swiper-home{
            width: 23.43rem;
            height: 15.25rem;
            
            .swiper-button-prev{
                color: $black2;
                padding: 1rem;
                background-color: $whiteF;
                --swiper-navigation-size: 1rem;
                &:hover{
                    background-color: $beige;
                }
            }
            .swiper-button-next{
                color: $black2;
                padding: 1rem;
                background-color: $whiteF;
                --swiper-navigation-size: 1rem;
                &:hover{
                    background-color: $beige;
                }
            }
        }
    }
    &__card{
        width: 21rem;
        height: 13.4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        background-color: #ffffff;
        bottom: 30.5%;

        &__title{
            font-family: "Old Stardard TT";
            font-weight: 400;
            font-size: 1.75rem;
            line-height: 2.25rem;
            letter-spacing: -0.075rem;
            color: #222222;
            padding-top: 1.5rem;
        }
        &__text{
            font-family: "Roboto";
            font-size: 0.0.87rem;
            font-weight: 400;
            line-height: 1.5rem;
            text-align: center;
            color: #777777;
        }
        &__price{
            font-family: "Archivo";
            font-weight: 700;
            font-size: 2rem;
            line-height: 2.68rem;
            text-align: center;
            color: #BEAD8E;
        }
    }
    &__boxVideo{
        background-color: #222222;
        display: flex;
        flex-direction: column;
        padding-left: 1.2rem;
        padding-right: 1.2rem;

        &__intro{
            font-family: "Archivo";
            font-weight: 700;
            font-size: 0.87rem;
            line-height: 0.95rem;
            letter-spacing: 0.17rem;
            text-align: start;
            color: #BDAC8D;
            padding-top: 4rem;
        }
        &__title{
            font-family: "Old Standard TT";
            font-weight: 400;
            font-size: 3.5rem;
            line-height: 3.75rem;
            letter-spacing: -0.075rem;
            color: #ffffff;
            padding-top: 1.5rem;
        }
        &__text{
            font-family: "Archivo";
            font-weight: 400;
            font-size: 0.87rem;
            line-height: 1.5rem;
            color: #C2C2C2;
            padding-top: 1.5rem;
            margin-bottom: 2rem;
        }
        
        &__buttonPlay{
            position: absolute;
            bottom: 8%;
            left: 45%;
        }
        &__buttonBook{
            width: 13.5rem;
            height: 3.7rem;
            background-color: #BDAC8D;
            color: #ffffff;
            font-family: "Archivo";
            font-weight: 700;
            font-size: 0.87rem;
            line-height: 0.95rem;
            letter-spacing: 0.175rem;
            border: transparent;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }
}