.header{
    background-color: #333333;

    &__title{
        font-family: $archivo;
        font-weight: 700;
        font-size: 0.8rem;
        line-height: 1.1rem;
        letter-spacing: 0.1rem;
        color: $whiteF;
        padding-top: 4.6rem;
        padding-left: 1.25rem;
    }
    &__section{
        font-weight: 400;
        font-size: 3.5rem;
        letter-spacing: -0.07rem;
        color: $whiteF;
        font-family: $old;
        padding-top: 2.5rem;
        padding-left: 1.25rem;
    }
    &__box{
        display: flex;
        background-color: $whiteF;
    }
    &__take{
        @include defaultbutton($backgroundColor: $beige);
        margin-top: 2.5rem;
        margin-left: 1.25rem;      
    }
    &__learn{
        @include defaultbutton($backgroundColor: $black2);
        margin-top: 2.5rem;
        margin-left: 1.25rem;
        margin-bottom: 4.68rem;
    }
    &__check{
        background-color: $black2;
        padding-top: 2.25rem;
        padding-bottom: 1rem;
        left: 1.25rem;
        
        &__logo{
            width: 1rem;
            height: 1rem;
        }
        &__date{
            font-family: $roboto;
            color: $whiteF;
            font-weight: 700;
            font-size: 1rem;
            line-height: 1.17rem;
            padding-left: 1.25rem;
        }
        &__input{
            width: 90%;
            padding-bottom: 1rem;
            padding-top: 1rem;
            background-color: $black2;
            border: none; 
            border-bottom: 2px solid $beige; 
            outline: none;
            position: relative;
            font-family: $roboto;
            font-weight: 400;
            font-size: .87rem;
            line-height: 1rem;
            color: $grey68;

        }
        &__calendar{
            display: flex;
            justify-items: center;
        }
        &__button{
            @include defaultbutton($backgroundColor: $beige);
            margin-top: 2rem;
            margin-bottom: 2rem;
            margin-left: 1.25rem;
           
        }
    }
}
