@mixin defaultbutton($backgroundColor){
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: $backgroundColor;
    border: transparent;
    font-family: $archivo;
    color: $whiteF;
}
@mixin defaultBoxLog($bottom,$left){
    display: flex;
    align-items: center;
    background-color: $whiteF;
    max-width: 16rem;
    padding-left: 4%;
    padding-top: 3%;
    padding-bottom: 3%;
    position: absolute;
    bottom: $bottom;
    left: $left;
    &__img{
        padding-right: 1rem;
       }
    
}
