.swiper {
    width: 20.9rem;
    height: 13.6rem;
    --swiper-navigation-size: 0rem;
    .swiper-pagination-bullet-active{
      background-color: $beige;
    }
}
.swiper-facilities {
  width: 20.9rem;
  height: 23.1rem;
  .swiper-pagination-bullet-active{
    background-color: $beige;
  }
}
.swiper-details {
    width: 20.9rem;
    height: 13.6rem;
    --swiper-navigation-size: 0rem;
    .swiper-pagination-bullet-active{
      background-color: $beige;
    }
}


  