@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

.header {
  background-color: #333333;
}
.header__title {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 1.1rem;
  letter-spacing: 0.1rem;
  color: #FFFFFF;
  padding-top: 4.6rem;
  padding-left: 1.25rem;
}
.header__section {
  font-weight: 400;
  font-size: 3.5rem;
  letter-spacing: -0.07rem;
  color: #FFFFFF;
  font-family: "Old Standard TT", serif;
  padding-top: 2.5rem;
  padding-left: 1.25rem;
}
.header__box {
  display: flex;
  background-color: #FFFFFF;
}
.header__take {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  padding-left: 4rem;
  padding-right: 4rem;
  background-color: #BEAD8E;
  border: transparent;
  font-family: "Archivo", sans-serif;
  color: #FFFFFF;
  margin-top: 2.5rem;
  margin-left: 1.25rem;
}
.header__learn {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  padding-left: 4rem;
  padding-right: 4rem;
  background-color: #222222;
  border: transparent;
  font-family: "Archivo", sans-serif;
  color: #FFFFFF;
  margin-top: 2.5rem;
  margin-left: 1.25rem;
  margin-bottom: 4.68rem;
}
.header__check {
  background-color: #222222;
  padding-top: 2.25rem;
  padding-bottom: 1rem;
  left: 1.25rem;
}
.header__check__logo {
  width: 1rem;
  height: 1rem;
}
.header__check__date {
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.17rem;
  padding-left: 1.25rem;
}
.header__check__input {
  width: 90%;
  padding-bottom: 1rem;
  padding-top: 1rem;
  background-color: #222222;
  border: none;
  border-bottom: 2px solid #BEAD8E;
  outline: none;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.87rem;
  line-height: 1rem;
  color: #686868;
}
.header__check__calendar {
  display: flex;
  justify-items: center;
}
.header__check__button {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  padding-left: 4rem;
  padding-right: 4rem;
  background-color: #BEAD8E;
  border: transparent;
  font-family: "Archivo", sans-serif;
  color: #FFFFFF;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1.25rem;
}

.navbar {
  height: 4.37rem;
  background-color: #FFFFFF;
  display: flex;
}
.navbar__menu {
  margin-top: 1.75rem;
  margin-left: 1.25rem;
  height: 0.81rem;
  width: 1.25rem;
}
.navbar__logo {
  position: absolute;
  left: 17%;
  display: flex;
  width: 6.87rem;
  height: 2.25rem;
  padding-top: 1.06rem;
}
.navbar__logo__title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 500;
  padding-left: 1rem;
  padding-top: 0.5rem;
}
.navbar__logo__box {
  width: 2.25rem;
  height: 2.25rem;
  padding: 0.1rem;
  box-shadow: 5px 10px 14px 0px rgba(139, 139, 139, 0.2509803922);
}
.navbar__logo__box__letter {
  font-family: Arial, Helvetica, sans-serif;
  font-family: 5px;
  font-weight: 700;
  text-align: center;
}
.navbar__icon {
  position: absolute;
  right: 6%;
}
.navbar__icon__vector {
  margin-top: 1.43rem;
  margin-left: 1rem;
  width: 1.2rem;
  height: 1.2rem;
}

.footer {
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
}
.footer__logo {
  display: flex;
  padding-top: 1.06rem;
}
.footer__logo__box {
  box-shadow: 5px 10px 14px 0px rgba(139, 139, 139, 0.2509803922);
  background-color: #BEAD8E;
  padding-top: 3%;
  padding-bottom: 2%;
  padding-left: 3%;
  padding-right: 3%;
}
.footer__logo__box__letter {
  font-family: "Archivo", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
}
.footer__logo__title {
  font-family: "Archivo", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  padding-left: 1rem;
  padding-top: 0.2rem;
}
.footer__text {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
  color: #777777;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.footer__box {
  display: flex;
  justify-content: start;
  margin-bottom: 2rem;
}
.footer__box__logo {
  margin-left: 3%;
  margin-right: 3%;
}
.footer__services {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #222222;
}
.footer__options {
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.footer__options__listServices {
  margin-right: 1rem;
  list-style-type: none;
}
.footer__options__listServices__activity {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 3rem;
  color: #777777;
}
.footer__contact {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #222222;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.footer__call {
  display: flex;
}
.footer__call__phone {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-left: 1rem;
}
.footer__call__number {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.87rem;
  line-height: 1rem;
  margin-left: 1rem;
}
.footer__copyright {
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1rem;
  letter-spacing: 0.03rem;
  color: #222222;
}
.footer__terms {
  display: flex;
  margin-top: 1rem;
  padding-bottom: 1rem;
}
.footer__terms__use {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1rem;
  letter-spacing: 0.03rem;
  color: #222222;
}
.footer__terms__privacy {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1rem;
  letter-spacing: 0.03rem;
  color: #222222;
}
.footer__back {
  position: absolute;
  width: 21rem;
  top: 0%;
}

.data {
  background-color: #F9F9F9;
  position: relative;
}
.data__intro {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 9rem;
}
.data__intro__page {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.81rem;
  line-height: 1.1rem;
  letter-spacing: 0.17rem;
  color: #777777;
  padding-top: 2.3rem;
}
.data__intro__title {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 3.75rem;
  letter-spacing: -0.07rem;
  color: #111111;
  text-align: center;
  padding-top: 2.2rem;
}
.data__intro__text {
  font-family: "Archivo";
  font-weight: 400;
  font-size: 0.877rem;
  line-height: 1.5rem;
  color: #777777;
  text-align: start;
  padding-top: 0.5rem;
}
.data__intro__button {
  background-color: #BDAC8D;
  width: 13.5rem;
  height: 3.75rem;
  color: #FFFFFF;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.87rem;
  line-height: 0.93rem;
  letter-spacing: 0.17rem;
  border: transparent;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.data__info {
  position: absolute;
  top: 80%;
  left: 14%;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}
.data__info__image {
  width: 16.8rem;
  height: 18.75rem;
}
.data__info__team {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #FFFFFF;
  margin-bottom: 6rem;
}
.data__info__team__title {
  text-align: center;
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.87rem;
  line-height: 1.87rem;
  letter-spacing: -0.05rem;
  padding-top: 8rem;
  z-index: 1;
}
.data__info__team__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.87rem;
  line-height: 1.37rem;
  text-align: center;
  padding-top: 1rem;
}
.data__info__team__logo {
  width: 4.25rem;
  height: 3.1rem;
  position: absolute;
  top: 23%;
  z-index: 1;
}
.data__info__team__transparent {
  position: absolute;
  top: 20%;
  right: 0%;
  width: 9rem;
  height: 6.6rem;
}
.data__info__luxury {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.data__info__luxury__logo {
  margin-top: 3.3rem;
  width: 3.5rem;
  height: 3.1rem;
  z-index: 100;
}
.data__info__luxury__title {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.8rem;
  letter-spacing: -0.05rem;
  text-align: center;
  color: #FFFFFF;
  margin-top: 1.94rem;
}
.data__info__luxury__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.3rem;
  text-align: center;
  color: #FFFFFF;
  margin-top: 1rem;
  padding-bottom: 3rem;
}

.rooms {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 75rem;
  position: relative;
}
.rooms__page {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.87rem;
  line-height: 1rem;
  letter-spacing: 0.17rem;
  color: #777777;
}
.rooms__title {
  font-family: "Old Standar TT";
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 3.75rem;
  letter-spacing: -0.075rem;
  text-align: center;
  padding-bottom: 4rem;
  padding-top: 1rem;
}
.rooms__boxLogo {
  width: 16rem;
  height: 2.5rem;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 52.5%;
}
.rooms__image {
  padding-bottom: 15.4rem;
}
.rooms__buttonLeft {
  width: 2rem;
  height: 2rem;
  border: transparent;
  position: absolute;
  top: 57%;
  left: 5%;
  background-color: #ffffff;
}
.rooms__buttonRight {
  width: 2rem;
  height: 2rem;
  background-color: #BDAC8D;
  border: transparent;
  position: absolute;
  top: 57%;
  right: 5%;
}
.rooms__card {
  width: 21rem;
  height: 13.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: #ffffff;
  bottom: 30.5%;
}
.rooms__card__title {
  font-family: "Old Stardard TT";
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 2.25rem;
  letter-spacing: -0.075rem;
  color: #222222;
  padding-top: 1.5rem;
}
.rooms__card__text {
  font-family: "Roboto";
  font-size: 0 0.87rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: center;
  color: #777777;
}
.rooms__card__price {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.68rem;
  text-align: center;
  color: #BEAD8E;
}
.rooms__boxVideo {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
.rooms__boxVideo__intro {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.87rem;
  line-height: 0.95rem;
  letter-spacing: 0.17rem;
  text-align: start;
  color: #BDAC8D;
  padding-top: 4rem;
}
.rooms__boxVideo__title {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 3.75rem;
  letter-spacing: -0.075rem;
  color: #ffffff;
  padding-top: 1.5rem;
}
.rooms__boxVideo__text {
  font-family: "Archivo";
  font-weight: 400;
  font-size: 0.87rem;
  line-height: 1.5rem;
  color: #C2C2C2;
  padding-top: 1.5rem;
  margin-bottom: 2rem;
}
.rooms__boxVideo__buttonPlay {
  position: absolute;
  bottom: 8%;
  left: 45%;
}
.rooms__boxVideo__buttonBook {
  width: 13.5rem;
  height: 3.7rem;
  background-color: #BDAC8D;
  color: #ffffff;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 0.87rem;
  line-height: 0.95rem;
  letter-spacing: 0.175rem;
  border: transparent;
  margin-top: 2rem;
  margin-bottom: 2rem;
}/*# sourceMappingURL=styles.css.map */