*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    min-width: 320px;
}

@import "_mixins.scss";
@import "_globalVariables.scss";
@import "_header.scss";
@import "_navbar.scss";
@import "_footer.scss";
@import "_data.scss";
@import "_rooms.scss";